doctype html
head
  meta(charset='UTF-8')
  title
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
  style(type='text/css').
    * {
    font-family: 'Verdana', Verdana, Geneva, Tahoma, sans-serif !important;
    }
    .olvidaste {
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2f3f50;
    }
    .preocuparte {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2f3f50;
    }
    .nosotros {
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2f3f50;
    }
    button {
    background: rgb(75, 189, 255);
    background: linear-gradient(281deg, rgba(75, 189, 255, 1) 0%, rgba(33, 67, 236, 1) 100%);
    border: none 15px;
    border-radius: 18px;
    /* width: 35%;
    height: 30%; */
    /* font-size: 2rem; */
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    }
    .click {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2f3f50;
    }
    .direccion {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    }
div
  a(href='https://aliva.com', target='_blank')
    img.img-fluid(src='https://api.aliva.wewams.com/static/mails/azulConllave.jpg', alt='Cabecera')
.container.p-4
  .row
    .col.text-center.mx-auto
      h3.mt-4.olvidaste &iquest;Olvidaste tu contrase&ntilde;a?
      h5.preocuparte &iexcl;No tienes de que preocuparte! &#x1F609; 
      p.nosotros
        | Con nosotros, reestablecer tu contarse&ntilde;a es muy facil. Haz click en el boton de abajo y completa unos simples pasos.
      br
      a.button(target='_blank', href=`http://aliva.wewams.com/reset/?token=${token2}`)
        button.button Recuperar ahora
      hr
      p.click
        | O haz click en: 
        br
        a(target='_blank', href=`http://aliva.wewams.com/reset/?token=${token3}`) http://aliva.wewams.com/reset/?token=#{token} 
.p-2(style='background-color: #2f3f50; color: white;')
  .my-3.text-center
    img.img-fluid(width='100px', src='https://api.aliva.wewams.com/static/mails/logoAliva.png', alt='Logo')
  br
  .text-center
    p
      b.direccion Nuestra direcci&oacute;n de correo es:
      br
      |         soporte@aliva.com.ve
      br
      |         0412-879-8737
  hr
  p.text-center
    small
      | copyright &copy; Aliva, Todos los derechos reservados
